
extends layout

block content
    h=title
    
    div
        form(name="edit" action="/edit" method="post")
            br
            div
                |Agency Name  
                input(type='text' name='agencyName' value='#{row.agencyName}')
            div
                |Category 
                input(type='text' name='category' value='#{row.category}')
            div
                |Area Count
                input(type="radio" name="altAreaCount" value="0") 
                |ONE
                input(type="radio" name="altAreaCount" value="1") 
                |Two
                input(type="radio" name="altAreaCount" value="2") 
                |Three
                input(type="radio" name="altAreaCount" value="3") 
                |Four
                input(type="radio" name="altAreaCount" value="4") 
                |Five
            div
                |Area
                input(type='text' name='altArea0' value='#{area[0].altArea}')
            -for (var index=1; index < 5; index++)
                div
                    |Alt. Area
                    -if(area.length > index)
                        input(type='text' name='altArea#{index}' value='#{area[index].altArea}')
                    -else
                        input(type='text' name='altArea#{index}' value='')                        
            div
                input(type='hidden' name='currentAgencyPhoneNumber' value='#{row.agencyPhoneNumber}')
            div
                |Phone Count
                input(type="radio" name="altPhoneCount" value="0") 
                |One
                input(type="radio" name="altPhoneCount" value="1") 
                |Two
                input(type="radio" name="altPhoneCount" value="2") 
                |Three
                input(type="radio" name="altPhoneCount" value="3") 
                |Four
                input(type="radio" name="altPhoneCount" value="4") 
                |Five
            div
                |Telephone
                input(type='text' name='altPhoneNumber0' value='#{row.agencyPhoneNumber}')
            -for (var index=1; index < 3; index++)
                div
                    |Alt. Phone
                    -if(phone.length > index)
                        input(type='text' name='altPhoneNumber#{index}' value='#{phone[index].altPhoneNumber}')
                    -else
                        input(type='text' name='altPhoneNumber#{index}' value='')
            div
                |City               
                input(type='text' name='city' value='#{row.city}')
            div
                |State   
                input(type='text' name='state' value='#{row.state}')
            div   
                |Country
                input(type='text' name='country' value='#{row.country}')
            -if( row.category == 'hospital' )
                div   
                    |Latitude
                    input(type='text' name='latitude' value='#{coordinate[0].latitude}')
                div   
                    |Longitude
                    input(type='text' name='longitude' value='#{coordinate[0].longitude}')

            div
                br
                input(type='submit' name='update' value='update')            
                input(type='submit' name='delete' value='delete')
