extends layout

block content
    h=title
    
    -var index=1;
    div
        table(border='1')
            tr
                td
                td Agency Phone Number
            -for (var item in list)
                -var item=list[item];
                tr
                    td #{index++}
                    td #{item.altPhoneNumber}
    div
        br
        br
        table(border='1')
            tr
                td
                td Client Phone Number
                td Name
                td latitude
                td longitude
            -for (var row in rows)
                -var row=rows[row];
                tr
                    td #{index++}
                    td #{row.clientPhoneNumber}
                    td #{row.name}
                    td #{row.latitude}
                    td #{row.longitude}
    
    div
        a(href='/mobile') Go Home
