
extends layout

block content
    h=title
    
    div
        form(name="editUser" action="/editUser" method="post")
            div
                input(type='hidden' name='currentUsername' value='#{row.username}')
                |Username 
                input(type='text' name='username' value='#{row.username}')
            div
                |Password 
                input(type='text' name='password' value='#{row.password}')
            div
                |Email
                input(type='text' name='email' value='#{row.email}')
            div
                |Role
                input(type='text' name='role' value='#{row.role}')
            div
                |Agency
                |Phone Number
                input(type='text' name='agencyPhoneNumber' value='#{row.agencyPhoneNumber}')
            div
                |Name               
                input(type='text' name='name' value='#{row.name}')
            div
                input(type='submit' name='update' value='update')
                input(type='submit' name='delete' value='delete')
